/* ---------- COLOUR VARIABLES ---------- */
/*
:root {
  --colour-background: #ffffff;
  --colour-text: #000000;
  --colour-primary: yellow;

/* ---------- GENERAL ---------- */
/*html {
  height: 100%;
}*/

body {
  /*height: 100%;*/
  /*margin: 0;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(255, 192, 220);
  background-image: linear-gradient(to bottom, #ffc0dc, #ffc0dc, #ffc0dc, #ffc0dc, #ffc0dc, #ffc4d6, #ffc8d2, #ffcccf, #ffd7cd, #ffe4cf, #fff0d7, #fefce3);
}


a {
  color: rgb(168, 68, 174);
  transition: 0.5s ease;
}

a:hover {
  color: rgb(254, 252, 227);
  background-color: rgba(232, 77, 155, 0.75);
  letter-spacing: 1px;
}

::selection {
  color: rgb(255, 255, 255);
  background-color: rgba(232, 77, 155, 0.5);
}

.text-center {
  align-items: center;
  margin: 20px 20px;
}

/* ---------- HEADER ---------- */
#Logo {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  display: block;

  animation-name: lofi-girl;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition: 1s ease-in-out;
}

@keyframes lofi-girl {
  0%, 100% {transform: scale(1);}
  50% {transform: scale(0.99);}
}

#Logo:hover {
  animation-name: lofi;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes lofi {
  0%, 100% {transform: scale(1);}
  50% {transform: scale(0.98);}
}

#equalizer {
  background-image: url(./img/equalizer.gif);
  background-repeat: repeat-x;
  background-position: center;
  margin: 30px 0;
}

#line-heading {
  background: linear-gradient(to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 251, 0, 0.25),
    rgba(0, 0, 0, 0),
    rgba(255, 251, 0, 0.25),
    rgba(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0)),
      linear-gradient(
      rgba(0, 0, 0, 0) calc(50% - 1px),
      rgba(255, 255, 255, 0) calc(50%), 
      rgba(0, 0, 0, 0) calc(50% + 1px));
  line-height: 2px;
  margin: 25px 0px;
}

.font-heading {
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 32px;
  font-weight: normal;
  margin: 5px 0px;
  text-shadow: 1px 1px 2px rgba(255, 0, 128, 0.5),
               2px 2px 2px rgba(255, 0, 128, 0.25),
               -1px -1px 1px rgba(255, 251, 0, 0.5),
               1px -1px 1px rgba(255, 105, 105, 0.5);
  transition: 1s ease-in;
}

#line-heading:hover {
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px rgba(255, 0, 128, 0.5),
               3px 3px 3px rgba(255, 0, 128, 0.25),
               -1px -1px 1px rgba(255, 251, 0, 0.5),
               1px -1px 1px rgba(255, 105, 105, 0.5);
}

/* ---------- DATE ---------- */
#currentDate {
  color: white;
  font-family: 'Caveat', cursive;
  font-size: 14px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(232, 77, 155, 0.75);
}

/* ---------- FORM ---------- */
/*note: all the form elements overwrite bootstrap's css,
feel free to turn the entire form elements into comments
to see the difference and changes (this is still a wip)*/

.accordion {
  --bs-accordion-bg: rgba(255, 223, 237);
  font-family: 'Caveat', cursive;
}

.accordion-button {
  background-color: rgba(255, 145, 191, 0.8);
}

.accordion-button:not(.collapsed) {
  color: rgb(254, 252, 227);
  background-color: rgba(255, 0, 128, 0.5);
}

.form-control, .form-select {
  font-family: 'Caveat', cursive;
  color: rgb(129, 0, 129);
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid rgb(255, 192, 220);
}

label {
  display: block; /*input width to 100%*/
}

.mx-auto {
  text-align: right; /*button alignment*/
}

#DueDate {
  text-transform: uppercase; /*capitalise YYYY-MM-DD*/
}

/* ---------- LIST ---------- */
#list {
  padding-left: 0;
}

.Status {
  margin: 10px 0px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: large;
  font-weight: bold;
}

.done {background-color: lime;}
.review {background-color: gold;}
.in-progress {background-color: orange;}
.to-do {background-color: red;}

.Name {
  text-transform: uppercase;
  font-weight: 500;
}

.Description {
  color: rgb(168, 68, 174);
  margin: 10px 0px;
}

.AssignedTo, .DueDate {
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 5px;
}

/* ---------- FOOTER ---------- */
.Github-logo {
   padding: 5px;
}