/* Colour Variables */
:root {
  --colour-background: #ffffff;
  --colour-text: #000000;
  --colour-primary: yellow; /*placeholder, will update later*/
}

.profile-picture {
  background-image: url("/todo-list/img/final_05d7e96e-2bd6-423b-a1c3-d1a49d39ccb1.webp");
}

#Logo {
  height: 200px;
  width: 200px;
   margin: 0 auto;
   display: block;
}

#Heading-lego {
   height: 200px;
   width: 200px;
   margin: 0 auto;
   display: block;

}
.font-Heading {
   font-family: 'Satisfy', cursive;
   color: white;
   text-shadow:2px 2px rgba(0, 0, 0, 0.5);
   margin: 5px 0px;
}

.text-center {
  align-items: center;
}

.Github-logo {
   padding: 5px;

}


